<br />


{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
	{{ error }}
</div>
{% endfor %}
	
{% csrf_token %}
{% for field in form.visible_fields %}
	<div class="form-group {% if field.errors and which_form_is_invalid == tree_relation %} has-error{% endif %}">
		<label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>

		{{ field }}

		{% if field.errors and which_form_is_invalid == tree_relation or tree_relation == "X" %}
			<p class="help-block">
			{% for error in field.errors %}
				{{ error|escape }} 
			{% endfor %}
			{% if field.help_text %}
				{{ field.help_text }}
			{% endif %}
		    </p>
		{% endif %}
	</div>
{% endfor %}
{% for field in form.hidden_fields %}
	{% if field.name == "tree_relation" %}
	<input id="{{ field.id_for_label }}" maxlength="{{ field.field.max_length }}" name="{{ field.name }}" type="hidden" value="{{ tree_relation }}" />
	{% else %}
	{{ field }}
	{% endif %}
{% endfor %}
<input class="btn btn-primary" type="submit" value="Submit" name="{{ submit }}" />
