<br />

{{ form.non_field_errors }}
{% csrf_token %}
{% for field in form.visible_fields %}
	<div class="form-group {% if field.errors and invalid_submit == tree_relation %} has-error{% endif %}">
		<label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>

		{{ field }}

		{% if field.errors and invalid_submit == tree_relation %}
			<p class="help-block">
			{% for error in field.errors %}
				{{ error|escape }} 
			{% endfor %}
		    </p>
		{% endif %}
	</div>
{% endfor %}
{% for field in form.hidden_fields %}
	{% if field.name == "tree_relation" %}
	<input id="{{ field.id_for_label }}" maxlength="{{ field.field.max_length }}" name="{{ field.name }}" type="hidden" value="{{ tree_relation }}" />
	{% else %}
	{{ field }}
	{% endif %}
{% endfor %}
<input class="btn btn-primary" type="submit" value="Submit" />
