<!DOCTYPE html>
<html>
<head>
<title>Prodebate: Game Over.</title>
<meta name="robots" content="noindex, nofollow">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
#id_honeypot {
    display: none;
}
</style>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<a href="{% url 'index' %}"><i class="fa fa-home"></i></a>
				{% if user.is_authenticated %}
				<a data-toggle="collapse" href="#general-collapse"><i class="fa fa-plus"></i></a>
				{% endif %}
			</h3>

			{% if user.is_authenticated %}
			<div class="{% if not which_form_is_invalid == 'G' %}collapse{% endif %}" id="general-collapse">
				<form action="{% url 'index' %}" method="post">
					{% include 'pro_debate/includes/elaboration_submit.html' with tree_relation="G" form=point_form submit='elaboration-submit' %}
				</form>
			</div>
			{% endif %}
		</div>
		{% block content %}
		{% endblock %}
	</div>
</div>
</body>
</html>