{% extends 'base.html' %}

{% load comments %}

{% block content %}
	
	<div class="col-xs-12">
		{% if parent %}
			<h3>
				<a href="{% url 'detail' parent.id %}{% if grandparent %}?parent={{ grandparent }}{% endif %}">
					<i class="fa fa-angle-up"></i> {{ parent }}
				</a>
			</h3>
		{% endif %}

		<h2>
			{% if parent %}
				<small style="display: inline-block; padding-bottom: 7px;">{{ elaboration_in_tree.get_tree_relation_display }}</small><br />
			{% endif %}
			{{ position.position_statement }}
		</h2>
		<p class="lead">
			Tags:
			{% for tag in position.tags.all %}
				<a href="{% url 'tag_index' tag.id %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
			{% endfor %}
		</p>

		<div class="row">
		{% if parent %}
			<div class="{% if elaborations_in_other_trees %}col-sm-8{% else %}col-xs-12{% endif %}">
				<p class="lead">
					{{ elaboration_in_tree.elaboration }}
				</p>
			</div>
			{% if elaborations_in_other_trees %}
			<div class="col-sm-4">
				<div class="well">
					<h4>In other trees</h4>
					<ul>
					{% for elaboration in elaborations_in_other_trees %}
						<li>
							<em>{{ elaboration.get_tree_relation_display }}</em> for
							<a href="{% url 'detail' elaboration.elaborates.id %}?parent={{ elaboration.child_of.id }}">{{ elaboration.child_of }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		{% else %}
			<div class="col-xs-12">
			{% if elaboration_in_tree %}
				<p class="lead">{{ elaboration_in_tree.elaboration }}</p>
			{% endif %}

			{% if elaborations_in_other_trees %}
				<div class="well">
					<h4>This argument can be found in the following trees:</h4>
					<ul>
					{% for elaboration in elaborations_in_other_trees %}
						<li>
							<em>{{ elaboration.get_tree_relation_display }}</em> for
							<a href="{% url 'detail' elaboration.elaborates.id %}?parent={{ elaboration.child_of.id }}">{{ elaboration.child_of }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
			</div>
		{% endif %}

		</div>
		<br />

		<h3>Supporting points</h3>
		<ul>
		{% for child in support_points %}
			<li>
				<h4>
					<a href="{% url 'detail' child.elaborates.id %}?parent={{ child.child_of.id }}{% if parent %}&amp;grandparent={{ parent.id }}{% endif %}">
						{{ child.elaborates }}
					</a>
				</h4>
			</li>
		{% endfor %}
		</ul>

		{% if user.is_authenticated %}
		<div>
			<a class="btn btn-default" data-toggle="collapse" href="#support-collapse">
				<i class="fa fa-plus"></i> Add a Supporting point
			</a>
		</div>

		<div class="{% if not which_form_is_invalid == 'S' %}collapse{% endif %}" id="support-collapse">
			<form action="{% url 'detail' position.id %}{{ current_get_params }}" method="post">
				{% include 'pro_debate/includes/elaboration_submit.html' with tree_relation="S" form=point_form submit='submit-elaboration' %}
			</form>
		</div>
		{% endif %}

		<h3>Counterpoints</h3>
		<ul>
		{% for child in counter_points %}
			<li>
				<h4>
					<a href="{% url 'detail' child.elaborates.id %}?parent={{ child.child_of.id }}{% if parent %}&amp;grandparent={{ parent.id }}{% endif %}">
						{{ child.elaborates }}
					</a>
				</h4>
			</li>
		{% endfor %}
		</ul>

		{% if user.is_authenticated %}
		<div>
			<a class="btn btn-default" data-toggle="collapse" href="#counter-collapse">
				<i class="fa fa-plus"></i> Add a Counterpoint
			</a>
		</div>

		<div class="{% if not which_form_is_invalid == 'C' %}collapse{% endif %}" id="counter-collapse">
			<form action="{% url 'detail' position.id %}{{ current_get_params }}" method="post">
				{% include 'pro_debate/includes/elaboration_submit.html' with tree_relation="C" form=point_form submit='submit-elaboration' %}
			</form>
		</div>
		{% endif %}
					

		<br /><br />

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Manifestations</h3>
			</div>
			<ul class="list-group">
			{% for manifestation in position.manifestation_set.all %}
				<li class="list-group-item">
					<h4><a href="{{ manifestation.url }}">{{ manifestation.title }}</a></h4>
					{% if manifestation.notes %}
					<blockquote>
						{{ manifestation.notes }}
					</blockquote>
					{% endif %}
				</li>
			{% endfor %}
				<li class="list-group-item">
					{% if user.is_authenticated %}
					<a class="btn btn-default" data-toggle="collapse" href="#manifestation-collapse">
						<i class="fa fa-plus"></i> Add a Manifestation
					</a>
					<div class="{% if not which_form_is_invalid == 'manifestation' %}collapse{% endif %}" id="manifestation-collapse">
						<form action="{% url 'detail' position.id %}{{ current_get_params }}" method="post">
							{% include 'pro_debate/includes/elaboration_submit.html' with tree_relation="manifestation" form=manifestation_form submit='submit-manifestation' %}
						</form>
					</div>
					{% endif %}
				</li>
			</ul>
		</div>

		<h4>Comments</h4>
		{% render_comment_list for position %}

		<h4>Discuss this position</h4>

		{% if user.is_authenticated %}
			{% get_comment_form for position as form %}
			<form action="{% comment_form_target %}" method="POST">
			{% csrf_token %}
			<textarea class="form-control" id="{{ form.comment.id_for_label }}" maxlength="{{ form.comment.field.max_length }}" name="{{ form.comment.name }}"></textarea>
			{{ form.honeypot }}
			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}
			<input type="hidden" name="next" value="{% url 'detail' position.id %}{{ current_get_params }}" />
			<br />
			<input class="btn btn-primary" type="submit" value="Add comment" id="id_submit" />
			</form>
		{% else %}
			<p>Please <a href="/admin">log in</a> to leave a comment.</p>
		{% endif %}
	
	</div>

{% endblock %}