{% extends 'base.html' %}

{% block content %}
	<div class="col-xs-12">
		{% if positions %}
			<h2>Five New Positions</h2>
			<div class="list-group">
			{% for position in positions %}
				<a class="list-group-item lead" href="{% url 'detail' position.id %}">{{ position.position_statement }}</a>
			{% endfor %}
			</div>
		{% endif %}

		{% if tags %}
			<h2>Tags</h2>
			{% for tag in tags %}
				<a class="lead" href="{% url 'tag_index' tag.id %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
			{% endfor %}
		{% else %}
			<p>No positions here.</p>
		{% endif %}
	</div>
{% endblock %}